/*EL DISEÑO DEL CUERPO DEL BLOG*/
body 
{
/*EL FONDO DEL CUERPO DEL BLOG*/
	background: #f3e2c7; /* Old browsers */
	background: -moz-linear-gradient(top, #f3e2c7 4%, #c19e67 34%, #b68d4c 60%, #c19e67 75%, #e9d4b3 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f3e2c7), color-stop(34%,#c19e67), color-stop(60%,#b68d4c), color-stop(75%,#c19e67), color-stop(100%,#e9d4b3)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* IE10 preview */
	background: linear-gradient(to bottom, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

	display: flex;
    min-height: 100vh;
    flex-direction: column;
}



/*EL DISEÑO DEL ENCABEZADO */
.header
{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 15px;
	padding: 0px;
	
}
.header{
	text-align: center;
}
#portada-header{	
  border-right-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 40%;
  height: 150px;
  padding:20px;
  width: 180px;
  transition: 0.6s;
  margin-top: 30px;
}
#portada-header:hover{
  webkit-transform: scale(1.3);
  ms-transform: scale(1.3);
  transform: scale(1.3);
}
/*FIN DISEÑO DEL ENCABEZADO*/
/*DISEÑO DEL BOTON DE INICIAR SESION*/
.btnPpal {
  background: #42a5f5  !important;
  font-weight: bold;
  transition: 0.5s;
}
.btnPpal:hover {
  background: #ff4000;
  color: #fff;
  font-size: 17px;
}
/*FIN DISEÑO DEL BOTON DE INICIAR SESION*/
/*DISEÑO DEL BOTON DE REGISTRAR*/
.btnPpal1 {
  background: #42a5f5  !important;
  font-weight: bold;
  transition: 0.5s;
}
.btnPpal1:hover {
  background: #ff4000;
  color: #fff;
  font-size: 17px;
}
/*FIN DISEÑO DEL BOTON DE REGISTRAR */


.top_menu{
  background:#039be5;
  border-left: 10px solid #fff;
  box-shadow: 0 8px 10px rgba(0,0,0,0.5);
}

.page-footer{
	color: #fff;
	font-size: 17px;
	height: 100%;
  	background:#01579b;
  	margin: 0px;
  	text-align: center;
}
#label-nombre{
	color: #fff;
}

#label-email{
	color: #fff;
}

#label-comentarios{
	color: #fff;
}

#label-reclamos{
	color: #fff;	
}

#label-mejora{
	color: #fff;	
}

#label-otros{
	color: #fff;
}
#comentariosContacto{
	margin-bottom: 10px;
  	height: 140px;
  	padding-top: 10px;
}



@media screen and (min-width:768px) {

.header 
{
   text-align: left;
   float: left;
}
#portada-header 
{
   float: left;
}
	/*
  .header {
    text-align: left;
  }

  #portada-header {
  	margin-left: 200px;
 	
  }
  */

}